Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g40, pull requests merged in 2024-10, with the labels that each got.

#24 Containerise question-service and question-db
  .github/workflows/build-question-db.yaml
  .github/workflows/build-question-service.yaml
  backend/db/question-db/Dockerfile
  backend/db/question-db/init.json
  backend/db/question-db/init.sh
  backend/db/question-db/schema.js
  backend/docker-compose.yaml
  backend/question-service/.dockerignore
  backend/question-service/Dockerfile
  backend/question-service/Makefile
Labels: backend

#31 Docker compose user-service and question-service
  .gitattributes
  backend/db/question-db/init.sh
  backend/docker-compose.yaml
  backend/question-service/.env.sample
  backend/user-service/.dockerignore
Labels: ci

#40 question-service: topic and difficulty endpoint
  backend/question-service/question_service/api/question.py
  backend/question-service/question_service/models/__init__.py
  backend/question-service/question_service/models/question_model.py
  backend/question-service/question_service/service/__init__.py
  backend/question-service/question_service/service/question_service.py
Labels: backend

#45 Use Redis key-value with expiry instead of list
  backend/matching-service/matching_service/matchmaker.py
  backend/matching-service/poetry.lock
  backend/matching-service/pyproject.toml
  backend/matching-service/tests/test_matchmaker.py
Labels: backend

#53 add starter collab page
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/component/navigation/NavBar.css
  frontend/src/routes/CollabPage.css
  frontend/src/routes/CollabPage.jsx
Labels: frontend

#52 feat: create room_token on match found
  backend/matching-service/matching_service/matchmaker.py
Labels: backend
