Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g40, pull requests merged in 2024-09, with the labels that each got.

#10 Init user service
  backend/user-service/.env.sample
  backend/user-service/.gitignore
  backend/user-service/GuideAssets/AddIPAddress.png
  backend/user-service/GuideAssets/ConnectCluster.png
  backend/user-service/GuideAssets/ConnectionString.png
  backend/user-service/GuideAssets/Creation.png
  backend/user-service/GuideAssets/DriverSelection.png
  backend/user-service/GuideAssets/IPWhitelisting.png
  backend/user-service/GuideAssets/Network.png
  backend/user-service/GuideAssets/Security.png
  backend/user-service/GuideAssets/Selection.png
  backend/user-service/GuideAssets/Selection1.png
  backend/user-service/GuideAssets/Selection2.png
  backend/user-service/GuideAssets/Selection3.png
  backend/user-service/GuideAssets/Selection4.png
  backend/user-service/GuideAssets/SidePane.png
  backend/user-service/MongoDBSetup.md
  backend/user-service/README.md
  backend/user-service/controller/auth-controller.js
  backend/user-service/controller/user-controller.js
  backend/user-service/index.js
  backend/user-service/middleware/basic-access-control.js
  backend/user-service/model/repository.js
  backend/user-service/model/user-model.js
  backend/user-service/package-lock.json
  backend/user-service/package.json
  backend/user-service/routes/auth-routes.js
  backend/user-service/routes/user-routes.js
  backend/user-service/server.js
Labels: backend

#9 Init Backend for Question Service
  backend/question-service/.gitignore
  backend/question-service/Makefile
  backend/question-service/README.md
  backend/question-service/poetry.lock
  backend/question-service/pyproject.toml
  backend/question-service/question_service/__init__.py
  backend/question-service/question_service/api/__init__.py
  backend/question-service/question_service/api/ping.py
  backend/question-service/question_service/config.py
  backend/question-service/question_service/main.py
  backend/question-service/question_service/models/__init__.py
  backend/question-service/tests/__init__.py
  backend/question-service/tests/test_main.py
Labels: backend

#18 Merge dev into main
  backend/question-service/README.md
  backend/question-service/question_service/api/__init__.py
  backend/question-service/question_service/api/question.py
  backend/question-service/question_service/config.py
  backend/question-service/question_service/mock/__init__.py
  backend/question-service/question_service/mock/init.json
  backend/question-service/question_service/mock/mock_db.py
  backend/question-service/requirements.txt
  backend/user-service/.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/QuestionPage.css
  frontend/src/routes/QuestionPage.js
Labels: frontend, backend

#19 Validation for POST and PATCH endpoints
  backend/question-service/.env.sample
  backend/question-service/poetry.lock
  backend/question-service/pyproject.toml
  backend/question-service/question_service/api/question.py
  backend/question-service/question_service/config.py
  backend/question-service/question_service/main.py
  backend/question-service/question_service/models/__init__.py
  backend/question-service/question_service/models/question_model.py
  backend/question-service/question_service/schemas/__init__.py
  backend/question-service/question_service/schemas/error_schema.py
  backend/question-service/question_service/schemas/question_schema.py
  backend/question-service/question_service/service/__init__.py
  backend/question-service/question_service/service/question_service.py
Labels: backend

#23 Beautify
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/component/question/CreateQuestionModal.jsx
  frontend/src/component/question/EditQuestionModal.jsx
  frontend/src/routes/QuestionPage.css
  frontend/src/routes/QuestionPage.js
  frontend/src/routes/QuestionPage.jsx
  frontend/src/ui/Pill.jsx
  frontend/tailwind.config.js
Labels: enhancement, frontend
